.body {
    background-color:	#ecadb6;
}

.penrosy-container {
    width: 1000px;
    height: 100vh;
   
    margin: 0px calc((100vw - 1000px) / 2); 
    position: relative;
}

#penrosy-canvas {
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    /* margin-left: 30px; */
    /* margin-left: calc((100vw - 1100px) / 2); */
    box-shadow: 1px 1px 1px grey;

}



.title-bar {
    color: white;
    font-family: 'Elsie Swash Caps';
    font-size: 46px;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
    margin: 20px;
}

.create-section {
    /* display: flex; */
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 10;
    padding: 10px 10px;
    background-color: #ebecec;
    border-radius: 5px;
    border: 1px solid black;
}

.create-section button {
    background-color: #ecadb6;
    height: 60px;
    width: 70px;
    margin: 15px 15px;
    border-radius: 5px;
     border: 1px solid black;
     box-shadow: 1px 1px 1px grey;
}

.create-section button:hover {
    background-color: #cc0030;
}

.rotate-instructions {
    background-color: white;
  
    width: 94px;
    margin: 15px 0px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}