.body {
    background-color:	#f0c1c8;
    background: linear-gradient(to bottom, #e798a4, #f0c1c8);
    height: 1000px;
}

.penrosy-container {
    width: 1200px;
    height: 740px;
   /* background-color: yellow; */
    margin: 0px calc((100vw - 1200px) / 2); 
    position: relative;
}

#penrosy-canvas {
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    /* margin-left: 30px; */
    /* margin-left: calc((100vw - 1100px) / 2); */
    box-shadow: 2px 2px 1px grey;

}
.title-bar {
    color: white;
    font-family: 'Elsie Swash Caps';
    
    letter-spacing: 2px;
    text-shadow: 2px 1px black;
     margin: 20px;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    position: relative;
    
}

.title {
 
    font-size: 60px; 
}

.learn {
    position: absolute;
    bottom: -10px;
    right: 25px;
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 30px;
}

.learn:hover {
    cursor:pointer;
    background-color: #ecadb6;
}

footer {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans';
    /* text-shadow: 1px 1px black; */
    /* width: 100%; */
    margin: auto;
    text-align: center;
    padding: 20px;
    
}

i {
    /* color: black; */
    font-size: 40px;
    margin: 5px 10px;
}