
.create-section {
    /* display: flex; */
    position: absolute;
    top: 90px;
    left:-30px;
    z-index: 1;
    padding: 10px 10px;
    /* background-color: #ebecec; */
    border-radius: 5px;
    /* border: 1px solid black; */
    font-family: 'Open Sans';
    
}

.create-section button {
    /* color: indigo; */
    background-color: #ecadb6;
    background: linear-gradient(to bottom right, white, #f0c1c8);
    height: 46px;
    width: 140px;
    margin: 16px 15px;
    border-radius: 0px 35px 35px 0px;
     border: 1px solid #66666;
     box-shadow: 1px 1px 1px grey;
    font-size: 13px;
    font-family: 'Open Sans';
    color: #666666;
}

.create-section button:hover {
    /* background-color: #cc0030; */
    background: linear-gradient(to bottom right, white, #e798a4);
    border: 1px solid #888888;
    font-weight: bold;
    cursor: pointer;
}

button:focus {
    outline:none;

}

.rotate-instructions {
    background-color: #f5ffff;
    font-size: 14px;
    color: grey;
    width: 94px;
    margin: 20px 30px;
    border-radius: 5px;
    border: 3px ridge aqua;
    padding: 10px;
    text-align: center;
    line-height: 24px;
}